body {
    height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #12c2e9, #c471ed, #f64f59);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    }

#board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px #E3BEF4;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.square {
    width:200px;
    height:200px;
    background-color: #F4ECF8;
    border: solid 4px #E3BEF4;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noughts {
    width:180px;
    height:180px;
    border-radius: 50%;
border:solid 30px #12c2e9 ;
box-sizing: border-box;
}



.cross{
    width:180px;
    height:180px;
    position: relative;
transform: rotate(45deg);
}

.cross::before, .cross::after {
    content: '';
    position: absolute;
    background-color: #f64f59;
}
    
.cross::before {
    left: 50%;
    width:30%;
    height: 100%;
    margin-left: -15%;
}

.cross::after {
    top: 50%;
    height:30%;
    width: 100%;
    margin-top: -15%;
}

#info {
    color:#fafafa;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 50px;
}
