body {
    height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
}

.square {
    width:200px;
    height:200px;
    background-color: #fff;
    border: solid 4px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noughts {
    width:180px;
    height:180px;
    border-radius: 50%;
border:solid 30px blue ;
box-sizing: border-box;
}



.cross{
    width:180px;
    height:180px;
    position: relative;
transform: rotate(45deg);
}

.cross::before, .cross::after {
    content: '';
    position: absolute;
    background-color: red;
}
    
.cross::before {
    left: 50%;
    width:30%;
    height: 100%;
    margin-left: -15%;
}

.cross::after {
    top: 50%;
    height:30%;
    width: 100%;
    margin-top: -15%;
}
